*,
*:before,
*:after {
  box-sizing: inherit;
}
ui {
    list-style: none;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
* {
  font-family: inter;
}

:root {
  --base: #000000;
  --red: #ff5959;
  --white: #ffffff;
  --green: #66ff7f;
  --grey: #969696;
  --dark-grey: #343434;
  --transition: all 0.3s ease;;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
.wrap {
  max-width: 390px;
  margin: auto;
}
